@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
	margin: 0;
}



nav{

background-color: lightgray;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
font-family: Pacifico;
}

nav img{
	height: 80px;
	border-radius: 50%;
}

ul{
display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type:none ;
}


ul li a{
  
     margin: 20px;
padding: 20px;
text-decoration: none;
color: black;
background-color: white;
border-radius: 10px;
}


ul li a:hover{
	background-color: black;
	color: white;
}

