@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	margin: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Roboto";
	

}

article .image{
	height: 300px;
	width: 500px;
	background-image:url("stadt.jpg") ;
	background-position: center; 
	background-size: cover;
	padding: 40px;

}
article{
	display: flex;
	justify-content: center;
	align-items:stretch ;
}


article .text{
	background: linear-gradient(191deg, rgba(248,254,255,1) 0%, rgba(146,227,250,1) 16%, rgba(135,213,241,1) 25%, rgba(109,190,236,1) 33%, rgba(47,94,165,1) 61%, rgba(23,58,138,1) 93%, rgba(127,189,199,1) 100%);
	height: 300px;
	width: 500px;
    padding: 40px;
	position: relative;

	
}

article p {
	
	font-size: 14px;
	padding: 15px;
	position: absolute;
	left:-100;
	top: 100;
	background-color: blue;
	color: white;
	font-size: 40px;

	}
	
article h1{
	
	
	background-color: white;
	color: blue;
	padding: 15px;
	position: absolute;
	left: 220;
	top: 170;
	font-size: 40px;


	}





