p{
	padding: 30px;
}
.a{
	background-color:#3F5678;
}

.b{
	background-color:rgb(255,123,167);
}

.c{
	background-color:#867G95;
}

.d{
	background-color:rbg(234,123,198);
}

.e{
	background-color:#507A55;
}

.f{
	background-color:rgb(126,164,245);
}

.g{
	background-color:#679EB6;

}

.h{
	background-color:rgb(123,167,213);

}

.i{
	background-color:#2F4351;
}

.j{
	
	background-color:rgb(178,215,255);
}