h1 { 
    background color: blue;
    text-decoration:underline; 
    font-size: 55px ;
 }

 body {
 	background-color: purple;
 }

p {
	font-size: 15px;
	border: 2px dotted black;
}

ul {
	background-color: white;
	color: lightpink;
}