


h1{

text-align:center;
background-color:lightgreen;
font-size:60px;
}

ol{
	background-color: green
}
h2{
	background-color:lightblue;

}

img


#hallo{
	background-color:pink;
}
.small{ 
     width:300px;
 }

 .left{
 	float: left;

 }

 .right{
 	float: right;

 }